<a href="https://colab.research.google.com/github/sonyarita/HSE-course/blob/main/Popovicheva_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [13]:
# чтение данных
df = pd.read_csv('working_df_IA.csv')
df

,Slovoforma,lemma,part_of_speech,letters_in_slovoforma,slogi_slovoforma,rang_frequency_NKRIA,IA_DWELL_TIME_%,IA_AVERAGE_FIX_PUPIL_SIZE,IA_FIRST_FIXATION_DURATION,IA_FIRST_FIXATION_TIME,IA_FIRST_FIX_PROGRESSIVE,IA_FIRST_RUN_FIXATION_%,IA_REGRESSION_IN,IA_REGRESSION_OUT,IA_REGRESSION_PATH_DURATION,TRIAL_FIXATION_COUNT,sex,grade
0,клубни,клубень,S,6,2,2,0.0057,1338.00,106,9330,1,0.0130,0,0,106,77,m,3
1,снова,снова,ADV,5,2,5,0.0063,1006.00,108,14176,0,0.0130,0,0,108,77,f,2
2,собаки,собака,S,6,3,5,0.0034,1150.00,108,19886,1,0.0094,0,0,108,106,m,2
3,траве,трава,S,5,2,4,0.0123,1360.00,110,298,0,0.0312,1,0,476,32,f,3
4,шуба,шуба,S,4,2,3,0.0023,864.00,112,52850,1,0.0057,0,1,658,174,m,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5279,площадках,площадка,S,9,3,3,0.0930,759.06,226,54382,1,0.0703,0,0,7628,256,f,1
5280,унесло,уносить,V,6,3,2,0.1248,975.54,224,30342,1,0.0044,0,1,14774,226,f,3
5281,несправедливость,несправедливость,S,16,5,2,0.0907,1664.17,528,28406,0,0.0041,0,0,3650,243,f,1
5282,рябчики,рябчик,S,7,2,2,0.1475,1134.50,176,14768,0,0.0069,0,0,6262,144,m,2
5283,несправедливость,несправедливость,S,16,5,2,0.1045,1125.07,176,41844,0,0.0033,0,0,10462,302,m,2

In [14]:
cols_x = ['part_of_speech', 'letters_in_slovoforma', 'slogi_slovoforma', 'rang_frequency_NKRIA']
col_y = 'IA_DWELL_TIME_%'
df1 = df[cols_x + [col_y]].copy()

df1.head()

,part_of_speech,letters_in_slovoforma,slogi_slovoforma,rang_frequency_NKRIA,IA_DWELL_TIME_%
0,S,6,2,2,0.0057
1,ADV,5,2,5,0.0063
2,S,6,3,5,0.0034
3,S,5,2,4,0.0123
4,S,4,2,3,0.0023

In [11]:
df1['part_of_speech'].value_counts(dropna=False)

part_of_speech
S       2266
V       1322
A        554
ADV      520
P        290
PART      90
CON       72
5         49
PR        48
VP        47
NUM       26
Name: count, dtype: int64

In [17]:
df1 = df1[df1["part_of_speech"] != "5"].copy()
df1["part_of_speech"].value_counts(dropna=False)

part_of_speech
S       2266
V       1322
A        554
ADV      520
P        290
PART      90
CON       72
PR        48
VP        47
NUM       26
Name: count, dtype: int64